header {
    display: flex;
    justify-content: center;
}

.main-elements {
    display: flex;
    justify-content: center;
    // background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/70/Papyrus_MET_cop0896s1.jpg);
    // background-position: center;
}

.board {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}