:root {
    --modal-word-list-font-size: 20px;
    --modal-word-list-word-length: 120px;
    --word-display-list-word-length: 70px;
}

body {
    background-color: #0A9396;
    color: #001219;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 2%;
    margin: 1% 0% 1% 0%;
    
    h1 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        vertical-align: middle;
        font-size: 80px;
    }
    
    h2 {
        position: relative;
        width: fit-content;
        left: 130px;
    }
}

.topline-elements {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto 2% auto;
    font-size: 20px;

    .instructions {
        height: auto;
        width: auto;
    }

    .button {
        padding: 5px;

        &:hover {
            cursor: pointer;
        }
    }

    #instructions-modal {
        
        .modal-instructions-container {
            background: white;
            border: 1px solid black;
            border-radius: 10px;
            padding: 60px;
            width: 60%;
            margin: auto;
            
            & > p {
                font-weight: 600;
            }
            
            p {
                margin: 0 0 10px 0;
            }
            
        }
    }
    
    #loading-modal {
        .loading-modal-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            border: 1px solid black;
            border-radius: 10px;
            margin: auto;
            width: 40%;
            height: 300px;
        }
    }
    
    #modal-word-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        
        li {
            width: var(--modal-word-list-word-length);
            font-size: var(--modal-word-list-font-size);
            padding: 4px;
        }
    }
}

.game-container {
    width: 900px;
    display: flex;
    flex-direction: column;
    background: #D5F2E3;
    padding: 2% 2% 2% 2%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    
    .scoring-elements {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        
        .score-texts {
            display: flex;
            margin-bottom: 12px;
            
            & > * :first-child {
                margin-right: 20px;
            }
        }
    }
    
    .gameplay-elements {
        display: flex;
        justify-content: space-between;
        height: 100%;
        
        .board {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
            
            .result-display {
                margin-top: 15px;
                height: 25px;
                text-align: center;
            }
            
            .result-display-text {
                font-family: sans-serif;
                font-style: italic;
                color: dimgray;
                font-size: 25px;
            }
            
            .polygon-container {
                width: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                
                
                svg {
                    transition: transform 0.2s;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }
                
            }
        }
        
        .buttons-div {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            font-size: 22px;
            
            & > div {
                padding: 5px;
                margin-right: 15px;
            }
            
            & >div:last-child {
                margin-right: 0px;
            }
            
            & > div:hover {
                cursor: pointer;
            }
        }
    }
}

polygon {
    stroke: #CA6702;
    fill: #E9D8A6;
    stroke-width: 5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 6px;
    
    p {
        font-weight: 600;
        margin-bottom: 10px;
    }
}


.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover, .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.score-bar-container {
    display: flex;
    justify-content: flex-end;
    width: 280px;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
}

.score-bar-graph {
    width: 0.1%;
    height: 28px;
    background-color: mediumseagreen;
    border-radius: 2px;
}

.score-display, .level-display {
    border: 1px solid black;
    font-family: sans-serif;
    vertical-align: middle;
    background: white;
    border-radius: 4px;
    margin-right: 10px;
}


.instructions {
    background: #D5F2E3;
    border: 1px solid black;
    width: 300px;
    height: 395px;
    border-radius: 8px;
}

.word-display {
    background: white;
    height: auto;
    text-align: center;
    font-family: sans-serif;
    padding-top: 10px;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    
    .word-display-list {
        margin: 5px;
        font-weight: 400;
        font-family: inherit;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style: inside;
        height: 500px;
        
        li {
            width: var(--word-display-list-word-length);
            padding: 2px 5px;
            margin: 6px 5px 0 0;
            text-align: left;
            border-bottom: 1px solid black;
            list-style: none;
        }
    }
}


svg text {
    font-family: sans-serif;
    font-size: 25px;
    text-anchor: middle;
    stroke-width: 2px;
    text-transform: capitalize;
}

.central-letter text {
    font-weight: 700;
    font-size: 30px;
    fill: black;
}

.clicked-letter polygon{
    fill: #005F73;
}


.word-input {
    background: #D5F2E3;
    width: inherit;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

.blank {
    color: dimgray;    
}


footer {
    margin: 5% 5% 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about {
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        display: flex;
        align-items: center;
        font-size: 45px;
        
        & > a {
            color: #001219;
            margin-right: 10px;
        }
    }
}


.button {
    background: white;
    border-radius: 4px;
    font: inherit;
    font-family: sans-serif;
    border: 1px solid black;
    box-shadow: 1px 1px 1px #999;

    &:hover {
        background:lightgrey;
    }

    &:active, .clicked-button {
        background:lightgrey;
        transform: translateY(1px);
        box-shadow: #666;
    }

}

.polygon-container > div:nth-of-type(1) {
    transform: translate(50%, 173.5%);
}

.polygon-container > div:nth-of-type(2) {
    transform: translate(-50%, 26.5%);
}

.polygon-container > div:nth-of-type(3) {
    transform: translate(-50%, 26.5%);
}

.polygon-container > div:nth-of-type(4) {
    transform: translate(100%, 0%);
}

.polygon-container > div:nth-of-type(5) {
    transform: translate(-100%, 0%);
}

.polygon-container > div:nth-of-type(6) {
    transform: translate(0%, 0%);
}

.polygon-container > div:nth-of-type(7) {
    transform: translate(50%, -26.5%);
}