header {
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 80px;
}

body {
    background: url('../assets/images/arundel 324 ff4v-5.jpeg');
}

.main-elements {
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-right: 5%;
    margin-left: 5%;
}


.instructions {
    background: white;
    border: 1px solid black;
    width: 300px;
}

.word-display {
    background: white;
    width: 300px;
    border: 1px solid black;
}

.board {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg text {
    font-family: sans-serif;
    font-size: 25px;
}

.polygon-container {
    display: flex;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    border: 1px solid black;
}

.central-letter polygon {
    fill: aliceblue;
}

.central-letter text {
    font-weight: 700;
    font-size: 27px;
}

.button-div {
    display: flex;
    justify-content: center;
}

// possibly send to internal styling

.polygon-container svg:nth-of-type(1) {
    transform: translate(50%, 40%);
}

.polygon-container svg:nth-of-type(2) {
    transform: translate(50%, 40%);
}

.polygon-container svg:nth-of-type(3) {
    transform: translate(-150%, 198%);
}

.polygon-container svg:nth-of-type(4) {
    transform: translate(100%, 0%);
}

.polygon-container svg:nth-of-type(5) {
    transform: translate(-100%, 0%);
}

.polygon-container svg:nth-of-type(7) {
    transform: translate(50%, -42%);
}